DATABASE_URL="postgresql://postgres:123456@localhost:5432/kaj_lagbe_backend?schema=public"
PORT=4001
NODE_ENV=development
SALT_ROUND=5
ACCESS_SECRET=a9c1d3e4f6b7a8c9d1e2f3b4c5a6d7e8
ACCESS_EXPIRE=5d
REFRESH_SECRET=GMI947xoXdIez7p6q79Xj3HbDUaW67SjYoYBx1MbeP8X51m2CujPWMgei2uiLFJV
REFRESH_EXPIRE=35d